
<div class="container d-flex justify-content-center my-5">
    <input type="file" (change)="ReadExcel($event)" class="form-control w-50">
</div>

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Mobile</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of excelData">
                <td>{{items.no}}</td>
                <td>{{items.name}}</td>
                <td>{{items.mobile}}</td>
                <td><input type="checkbox" checked></td>
            </tr>
        </tbody>
    </table>
    

    <div class="container text-center my-3">
        <button class="btn btn-success" (click)="sendMsg()">Send Message</button>
    </div>
</div>